.drug-item {
    margin: 15px 10px 10px 10px;
    text-align: center;
    padding: 0;
    text-decoration: none;
    border-radius: 4px;
}

.drug-item article {
    padding: 0;
    margin: 0;
}

.drug-item:hover {
    background-color: #D8E8F7;
}

.drug-item:hover h1 {
    color: crimson;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .drug-item {
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
}

.drug-item .drug-image {
    padding: 6px;
    max-height: 120px;
    width: auto;
    margin-bottom: 0;
}

.drug-item h1 {
    font-size: 1.1em;
    text-decoration: none;
    padding: 4px 8px;
    margin-top: 0;
    color: black;
}

.drug-item a {
    text-decoration: none;
    color: black;

}
