.publication-item {
    padding: 8px 8px 8px 0px;
    margin-top: 15px;
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.publication-image {
    align-self: center;
    width: calc(30% - 15px);
    border: 4px solid #dfdfdf;
}

.publication-item > main {
    display: flex;
    flex-direction: column;
    max-width: calc(70% - 15px);
    margin-left: 15px;
}

.publication-item > footer {
    margin: 13px 0px 8px 10px;
}

.publication-item h1 {
    font-size: 1.6em;
    margin-bottom: 15px;
}

.publication-item-date {
    background-color: lightgrey;
    padding: 4px 7px 4px 7px;
    font-size: 14px;
    margin: 0;
}

.publication-item-links-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.publication-item-link {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #33C3F0;
    color: white;
    padding: 7px 11px;
    text-decoration: none;
}

.publication-item-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

@media screen and (max-width: 420px) {
    .publication-item {
        width: 100%;
        flex-direction: column;
    }

    .publication-image {
        width: auto;
        max-height: 200px;
        max-width: 100%;
        margin-bottom: 10px;
    }

    .publication-item > main {
        max-width: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
    }
}
