.team-member {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 8px 8px 8px 0px;
    width: 100%;
}

.team-member-image {
    width: 150px;
    height: auto;
    margin-right: 15px;
}

.team-member > main {
    line-height: 1.4;
}

.team-member h1 {
    font-size: 1.3em;
    margin: 0px 0px 3px 0px;
}

.team-member-role {
    font-size: 14px;
}

